################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HMEngine/.vs/HMEngine/v15/Browse.VC.opendb
/HMEngine/.vs/HMEngine/v15/Browse.VC.db
/HMEngine/.vs/HMEngine/v15/ipch/AutoPCH/5cf9711d36246a6c/MAIN.ipch
*.ipch
