################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.ipch
*.suo
*.pdb
*.idb
*.obj
!/HMEngine/HMEngine/resources/*
*.tlog
*.lastbuildstate
*.log
*.ilk
*.exe

ipch/
*.suo
.vs/



/HMEngine/.vs/HMEngine/v15/Browse.VC.opendb
/HMEngine/.vs/HMEngine/v15/Browse.VC.db
/*.ipch
/*.suo
/*.pdb
*.pdb
*.suo
*.ipch
**/.pdb
**/.suo
**/.ipch
/HMEngine/.vs/HMEngine/v15/.suo