################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HMEngine/.vs/HMEngine/v15/Browse.VC.opendb
/HMEngine/.vs/HMEngine/v15/Browse.VC.db
*.ipch
*.suo
/HMEngine/.vs/HMEngine/v15/.suo